<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script>
      window.currentUser = JSON.parse(<%= (current_user.to_json) %>)
    </script>
    <%= stylesheet_pack_tag 'stylesheets' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
